.heading1 {
    border: 2px solid black;
    width: 12%;
    height: 40px;
    text-align: center;
    position: relative;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 2rem;
    margin-top: 6%;
    margin: 2% auto 0; 
    font-family: 'Arvo', sans-serif;
}
.form-group1{
    position: relative;
    margin-left: 43%;
    margin-top: 7%;

}
.form-input1 {
    width: 28%;
    background-color: #D7D7D7;
    height: 35px;
    border: none; 
    border-left: 2px solid #000; 
    border-bottom: 2px solid #000; 
    padding: 8px; 
    outline: none; 
}


.form-input1::placeholder{ 
    
    color: black;
    
}
.form-group2{
    position: relative;
    margin-left: 43%;
    margin-top: 2%;
}
.form-input2{
    background-color: #D7D7D7;
    width: 28%;
    height: 35px;
    border: none;  
    border-left: 2px solid #000;
    border-bottom: 2px solid #000; 
    padding: 6px;
    outline: none; 
    position: relative;
    margin-top: -26%;
}
.form-input2::placeholder{ 
    
    color: black;
    
}

.form-group3{
    position: relative;
    margin-left: 43%;
    margin-top: 2%;
}
.form-input3{
    background-color: #D7D7D7;
    width: 28%;
    height: 35px;
    border: none; 
    border-left: 2px solid #000; 
    border-bottom: 2px solid #000; 
    padding: 8px; 
    outline: none; 
}
.form-input3::placeholder{ 
   
    color: black;
    
}
.contact-button {
    position: relative;
    margin-top: 5%; 
    border: 1px solid black;
    border: none;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
  position: relative;
  margin-left: 48%;
 
  width: 5%;
 
  
}



.line {
    width: 2px; 
    height: 45px; 
    background-color: black; 
}
.feel-para{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.5%;
}


@media (max-width: 600px) {
    .heading1 {
        width: 35%;
        margin: 0 auto;
        margin-top: 30%; 
    }
    .form-input1, .form-input2, .form-input3 {
        width: 80%;
        margin: 0 auto;
        margin-left: -25%;
        margin-top: 20%;
    }
    .contact-button {
        margin-top: 8%; 
        width: 20%;
        margin-left:36% ;
        margin-top: 15%;
    }
    .feel-para{
        position: relative;
        margin-top: 15%;
    }
 }